.appdev-expertise-section {
    background: #fff6f0;
    padding: 50px 0px 100px;
}

.appdev-expertise-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
}

/* ---------- HEADER ---------- */
.appdev-expertise-header {
    max-width: 520px;
    margin-bottom: 60px;
}

.section-label {
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    color: #ff6a00;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.appdev-expertise-header h2 {
    font-family: "Manrope", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 10px;
    color: #00123C;
}

/* ---------- GRID ---------- */
.automation-expertise-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 60px;
}

/* ---------- ITEM ---------- */
.expertise-item {
    max-width: 370px;
}

.expertise-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
    margin-bottom: 10px;
}

.expertise-item h4 {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #00123C;
    margin-top: 5px;
    margin-bottom: 8px;
}

.expertise-item p {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #2c2e33;
}

@media (max-width: 1199px) {
    .appdev-expertise-header {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .appdev-expertise-header h2 {
        font-size: 36px;
    }

    .appdev-expertise-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 50px;
    }

    .expertise-item {
        max-width: 100%;
    }

    .expertise-item h4 {
        font-size: 17px;
    }

    .expertise-item p {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .appdev-expertise-section {
        padding: 40px 0 70px;
    }

    .appdev-expertise-container {
        padding: 0 20px;
    }

    .section-label {
        font-size: 15px;
    }

    .appdev-expertise-header h2 {
        font-size: 28px;
        line-height: 125%;
    }

    .appdev-expertise-grid {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .expertise-item {
        text-align: center;
    }

    .expertise-icon {
        margin: 0 auto 6px;
        display: block;
    }

    .expertise-item h4 {
        font-size: 16px;
    }

    .expertise-item p {
        font-size: 14px;
    }
}